.settings_page_elasticpress{
	span.dashicons {
		margin: 2px 0 0 1px;
	}
}

#indexprogresss{
	display: none;
	&:after {
		content: " ";
		clear: both;
		display: block;
	}

	#progressstats {
		float: left;
		padding-bottom: 5px;
	}

	#progresspercent {
		float: right;
		padding-bottom: 5px;
	}

	#progressbar {
		clear: both;
		background: #fff;
		height: 10px;
		border: 1px solid #e5e5e5;

		.ui-progressbar-value{
			background: #008ec2;
			height: 10px;
		}
	}

	#ep_pause_index {
		float: right;
		margin: 10px 0;
	}
}

#ep_stats {

	#ep_site_sel {
		padding: 20px 0 0;
	}

	#ep_stats_container{
		display: flex;
		-webkit-flex-flow: row wrap;
		justify-content: space-between;
		margin-top: 20px;

		.ep_stats_box{
			width: 32%;
			h2{
				font-size: 14px;
				padding: 8px 12px;
				margin: 0;
				line-height: 1.4;
				border-bottom: 1px solid #eee;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
		}

		@media all and (max-width: 780px) {
			.ep_stats_box { width: 100%; }
		}

	}

}

#ep_pause_index {
	float: right;
}